<h1>商品一覧</h1>

<table>
  <thead>
    <tr>
      <td>商品ID</td>
      <td>商品名</td>
      <td>税抜き価格</td>
      <td></td>
      <td>ステータス</td>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
    <tr>
      <td><%= item.id %></td>
      <td><%= item.name %></td>
      <td><%= item.price %></td>
      <td></td>
      <td><%= item.is_active %></td>
    </tr>
    <% end %>
  </tbody>
</table>
