<div class="container">
  <div class="row mt-3">
    <div class="col">
      <h2>商品一覧</h2>
    </div>

    <div class="col text-right">
      <%= link_to new_admin_item_path, method: :get do %>
        <i class="fa-solid fa-circle-plus fa-3x" style="color: gray;"></i>
      <% end %>
    </div>

    </div>
  </div>
</div>

<div class="container">
  <div class="row mt-3">
    <div class="col">
      <table class="table table-borderless">
        <thead class="thead-light">
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜き価格</th>
            <th></th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td><%= link_to item.name, admin_item_path(item.id) %></td>
            <td><%= item.price.to_s(:delimited) %></td>
            <td></td>

            <% if item.is_active == true %>
              <td>販売中</td>
            <% else %>
              <td>販売停止中</td>
            <% end %>

          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
