<h1>注文履歴一覧</h1>

<table>
  <thead>
    <tr>
      <td>購入日時</td>
      <td>購入者</td>
      <td>注文個数</td>
      <td>注文ステータス</td>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <td><%= link_to  order.created_at.strftime('%Y/%m/%d %H:%M:%S'), admin_order_path(order.id) %></td>
      <td><%= order.customer.family_name  %></td>
      <td><%= order.ordered_items.pluck(:amount).sum %></td>
      <td><%= order.status_i18n %></td>
    </tr>
    <% end %>
  </tbody>
</table>
